@import "card.css";
@import "fonts.css";
@import "btn.css";
/*
*,
*::before,
*::after {
  font-family: Droid-serif, serif;
}
*/
#root {
  padding: 0;
  margin: 0;
  width: 100%;
}

#root > div {
  margin-top: 20px;
}

.App {
  text-align: center;
}

body {
  background-color: #596860;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.user-list {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 60px;
}

.black-container {
  background-color: #141718;
  height: 600px;
  width: 600px;
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  border-radius: 6px;
  padding-top: 40px;
  position: relative;
}

.details-container {
  padding-top: 30px;
  font-size: 16px;
}

.image-container {
  height: 600px;
  width: 50%;
}

img {
  border-radius: 6px !important;
}

.my-container {
  display: flex;
  justify-content: space-evenly;
}
