.card {
  background: #141718;
  color: white;
  width: 275px;
  height: 330px;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 5px;
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  position: relative;
}

.card h5 {
  font-family: "Roboto-Light", sans-serif;
  font-size: 26px;
}

.card p {
  font-family: "Droid Serif", serif;
  font-size: 15px;
  color: #aeaeae;
  margin-bottom: 0;
}

.card a {
  font-family: "Droid Serif", serif;
  color: #aeaeae;
  text-decoration: none;
}

a:hover {
  color: white;
}
