.App {
  text-align: center;
  margin-top: 20px;
}

.user-list {
  padding-left: 10px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  width: calc(50% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}
